<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="table.css">
</head>

<body>
    <h1>
        Your Data
    </h1>
    <table id="myTable">
        <thead>
            <td>Full Name</td>
            <td>Email</td>
            <td>Date Of Birth</td>
            <td>Password</td>
            <td>Phone Number</td>
            <td>Country</td>
            <td>Address</td>
        </thead>
        <tbody>
            <% for(let i=0; i<arr.length; i++) { %>
                <tr>
                    <td>
                        <%= arr[i].Fname %>
                    </td>
                    <td>
                        <%= arr[i].email %>
                    </td>
                    <td>
                        <%= arr[i].date %>
                    </td>
                    <td>
                        <%= arr[i].psw %>
                    </td>
                    <td>
                        <%= arr[i].num %>
                    </td>
                    <td>
                        <%= arr[i].country %>
                    </td>
                    <td>
                        <%= arr[i].address %>
                    </td>

                    <form action="/update" method="post">
                        <input type="hidden" value="<%= i %>" name="Upd">
                        <td>
                            <button type="submit">Change Data</button>
                        </td>
                    </form>
                    <form action="/delete" method="post">
                        <input type="hidden" value="<%= i %>" name="Del">
                        <td>
                            <button type="submit">Delete</button>
                        </td>
                    </form>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>